<!--
约定documentList.docs为文档列表数据集合
item为子元素集合
-->
<style>
	.news-horizontal-container {
		position: relative;
		overflow-x: hidden;
		width: 100%;
		padding: 40px;
		padding: none;
	}
	.news-horizontal-list {
		position: relative;
	}
	.news-horizontal-column-name-container {
		position: relative;
		height: 40px;
		border-top: 2px solid #2AAAE2;
	}
	.news-horizontal-column-name {
		position: absolute;
		width: 150px;
		height: 40px;
		line-height: 40px;
		top: 0;
		left: 50%;
		margin-left: -75px;
		text-align: center;
		color: #fff;
		background: #2AAAE2;
	}
</style>
<div class="news-horizontal-container">
	<div class="news-horizontal-column-name-container">
		<div class="news-horizontal-column-name">最新资讯</div>
	</div>
	<div class="news-horizontal-list owl-carousel owl-theme clearfix">

		{% for item in newsList %}
			<div class="">
				<div class="news-horizontal-title-group">
					<p class="news-horizontal-maintitle">	
						<a href="/details/{{item._id}}.html " target="_blank ">
							{% if targetSearchKey %} {{item.title | hightWords(targetSearchKey) | safe }} {% else %} {{item.title}} {% endif %}
						</a>
					</p>
					<p class="news-horizontal-subtitle">						
						<a href="/details/{{item._id}}.html " target="_blank ">
						{% if targetSearchKey %} {{item.stitle | hightWords(targetSearchKey) | safe }} {% else %} {{item.stitle}} {% endif %}
						</a>
					</p>
				</div>
				<p class="news-horizontal content">
						{% if targetSearchKey %} {{item.discription | cutwords(200) | hightWords(targetSearchKey) | safe }} {% else %} {{item.discription | cutwords(200)}} {% endif %}
				</p>
				<p class="news-horizontal-date">{{item.updateDate}}</p>
			</div>
		{% endfor %} 
	</div>
</div>